* {
  margin: 0%;
  padding: 0%;
}
a {
  text-decoration: none;
  color: lightblue;
}
@font-face {
  src: url("../fonts/simplicity.ttf");
  font-family: Simplicity;
}
@font-face {
  src: url("../fonts/KGMissKindergarten.ttf");
  font-family: Kinder;
}
@font-face {
  src: url("../fonts/coffee.ttf");
  font-family: Coffee;
}
#viewgal {
  width: 100vw;
  height: 351vh;
}
.empty-view {
  font-family: "Kinder", "Simplicity";
  text-align: center;
  height: 8vh;
}
.empty-gal {
  width: 7vw;
}
.viewgal-wrap {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  height: 280vh;
  border: 0px solid blue;
}
.viewcol {
  width: 39vw;
  height: 300vh;
  border: 0px solid red;
  display: flex;
  flex-direction: column;
}
.imgd {
  width: 100%;
  height: 50vh;
  border: 1px solid pink;
  border-radius: 5%;
  background-image: url("../images/img.jpg");
  background-size: cover;
}
.imga {
  width: 100%;
  height: 50vh;
  border: 1px solid pink;
  border-radius: 5%;
  background-image: url("../images/coffee1.jpg");
  background-size: cover;
  background-position-y: 43%;
  border-radius: 5%;
}
.img1 {
  width: 100%;
  height: 50vh;
  border: 1px solid pink;
  border-radius: 5%;
  background-image: url("../images/pic1.jpg");
  background-size: cover;
  background-position-y: 43%;
  border-radius: 5%;
}
.imgb {
  width: 100%;
  height: 50vh;
  border: 1px solid pink;
  border-radius: 5%;
  background-image: url("../images/pic2.jpg");
  background-size: cover;
  background-position-y: 43%;
  border-radius: 5%;
}
.img2 {
  width: 100%;
  height: 50vh;
  border: 1px solid pink;
  border-radius: 5%;
  background-image: url("../images/pic3.jpg");
  background-size: cover;
  background-position-y: 43%;
  border-radius: 5%;
}
.imgc {
  width: 100%;
  height: 50vh;
  border: 1px solid pink;
  border-radius: 5%;
  background-image: url("../images/pic4.jpg");
  background-size: cover;
  background-position-y: 43%;
  border-radius: 5%;
}
.img3 {
  width: 100%;
  height: 50vh;
  border: 1px solid pink;
  border-radius: 5%;
  background-image: url("../images/pic5.jpg");
  background-size: cover;
  background-position-y: 43%;
  border-radius: 5%;
}
.img4 {
  width: 100%;
  height: 50vh;
  border: 1px solid pink;
  border-radius: 5%;
  background-image: url("../images/img3.jpg");
  background-size: cover;
  background-position-y: 43%;
  border-radius: 5%;
}
.desc {
  display: flex;
  width: 100%;
  height: 10vh;
  border: 1px solid black;
  background-image: url("../images/wood.jpg");
  color: rgb(180, 180, 180);
  justify-content: center;
  align-items: center;
  font-family: "Kinder";
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 10px;
}
.item-space {
  display: flex;
  width: 100%;
  height: 5vh;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
}
.menu-wrap {
  height: 230vh;
  width: 100vw;
  display: flex;
}

.menu {
  height: 230vh;
  width: 80vw;
  align-self: center;
  border: 0px solid red;
  background-image: url("../images/menu.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
.empty-menu {
  width: 10vw;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  height: 540vh;
  overflow-x: hidden;
}
#bodyfit {
  font-family: "Roboto", sans-serif;
  font-size: 16px;

  height: 100vh;
  overflow-x: hidden;
}
#header {
  height: 100vh;
  width: 100%;
  border: 0px solid black;
  display: flex;
  flex-direction: column;
  background-image: url("../images/heroimg_edited.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
.black {
  width: 100%;
  background-image: url("../images/coffeepattern.png");
  background-size: 20%;
}

.logo {
  width: 100%;
  height: 46vh;
  max-height: 46vh;
  max-width: 48vw;
  align-self: center;
}
.logo img {
  width: 100%;
  height: 100%;
}
.tagline {
  width: 100%;
  height: 10vh;
  max-width: 60vw;
  align-self: center;
  text-align: center;
  font-family: "Coffee";
  font-size: 3.2rem;
  color: rgb(216, 216, 216);
}
#wrap {
  display: flex;
  height: 708.5vh;
  width: 100%;
  border: 0px solid red;
}
#sticky {
  margin-top: 5vh;
  width: 15%;
  height: 708vh;
  border: 2px solid blue;
  position: absolute;
  z-index: 1;
}
#wrap-admin {
  display: flex;
  flex-direction: row;
  height: fit-content;
  width: 100%;
  border: 0px solid red;
}
#sticky-admin {
  /*margin-top: 5vh;*/
  width: 15%;
  height: 538vh;
  border: 2px solid blue;
  position: absolute;
  z-index: 1;
}
.sticky-content {
  width: 16.5vw;
  height: 100vh;
  background-color: rgba(12, 12, 12, 0.685);
  color: whitesmoke;
  position: -webkit-sticky;
  position: fixed;
  top: 0px;
  line-height: 12vh;
  padding-top: 11vh;
  padding-left: 2vw;
  font-family: "Changa", sans-serif;
  font-weight: bolder;
  padding-right: 10px;
}
.sticky-content li {
  color: rgb(235, 218, 175);
  font-weight: bold;
}
.sticky-content a,
.sticky-content a:visited {
  color: rgb(235, 218, 175);
}
.sticky-content li {
  list-style-type: none;
  color: rgb(235, 218, 175);
}
.stick-content a:hover {
  color: whitesmoke;
}
/* button - reusable css */
.new li,
.new a {
  text-decoration: none;
  list-style-type: none;
  color: black;
}
.new {
  width: fit-content;
  border: 1px solid black;
  padding: 1vw 3vw 1vw 3vw;
}
/*----------------*/
.welcomeheader {
  line-height: 6vh;
}
#menu {
  border: 0px solid red;
  min-height: 100vh;
  height: fit-content;
  background-image: url("../images/coffeebeans.png");
  background-size: 15%;
}
#empty-content-admin {
  width: 29vw;
}
#content-admin {
  display: flex;
  width: 100vw;
  min-height: 100vh;
  height: fit-content;
  border: 0px solid green;
  background-image: url("../images/coffeebeans.png");
  background-size: 15%;
}

#content-admin-wrap {
  width: fit-content;
  max-width: 60vw;
  height: fit-content;
  border: 0px solid red;
}
#content {
  width: 100%;
  height: 588vh;
  border: 0px solid green;
  background-image: url("../images/coffeebeans.png");
  background-size: 15%;
}
.empty {
  width: 15%;
  height: 520vh;
  border: 0px solid pink;
  position: absolute;
}
.empty-big {
  width: 100%;
  height: 10vh;
}
.empty-small {
  width: 100%;
  height: 1vh;
}
.gallery-desc {
  border: 0px solid red;
  width: 80%;
  height: 8vh;
  align-self: center;
  text-align: center;
  font-family: "Simplicity";
  font-size: 1.5rem;
  font-weight: bold;
}
.location-desc {
  border: 0px solid red;
  width: 80%;
  height: 8vh;
  align-self: center;
  text-align: center;
  font-family: "Simplicity";
  font-size: 1.5rem;
  font-weight: bold;
}
.empty-space {
  flex: 2.5;
  border: 0px solid black;
}
.empty-medium {
  height: 19.5vh;
  border: 0px solid red;
}
.empty-medium1 {
  height: 2vh;
}
#gallery {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 130vh;
  border-bottom: 0px solid black;
}
#location {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 130vh;
  border-bottom: 0px solid black;
  color: white;
}

#about {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 130vh;
}
#feedback {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 120vh;
  background-image: url("../images/coffeebeans.png");
  background-size: 15%;
  border-bottom: 2px solid black;
}
#contact {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 130vh;
  border-bottom: 0px solid black;
  color: white;
}
#footer {
  width: 100%;
  color: whitesmoke;
  height: 10vh;
  border-top: 0px solid blue;
  text-align: center;
  padding-top: 6.5vh;
  background-image: url("../images/coffeepattern.png");
  background-size: 15%;
}
.header-div {
  width: 100%;
  height: 12vh;
  border: 0px solid red;
}

/* header - reusable css */
.content-admin-header {
  text-align: center;
  font-size: 2.2em;
  font-family: "Kinder";
  font-weight: bold;
}
.post-wrap {
  display: flex;
  border: 0px solid blue;
  width: 60vw;
  justify-content: center;
}
.post-wrap2 {
  display: flex;
  flex-direction: column;
  width: 40vw;
  border: 0px solid green;
}
.post-wrap3 {
  display: flex;
  border: 0px solid blue;
  width: 60vw;
  justify-content: center;
}
.empty-postside {
  width: 20vw;
  height: 10px;
  border: 0px solid black;
}
/*post - reusable css*/
.post {
  padding: 2vw;
  border: 0px solid red;
  width: 30vw;
  min-height: 25vh;
  background-color: rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.2);
  color: black;
  font-family: "Kinder";
}
.viewuser {
  display: flex;
  align-items: center;
  font-family: "Kinder";
  padding: 2vw;
  border: 1px solid black;
  width: 10vw;
  justify-content: center;
  min-height: 5vh;
}

.nobullet {
  list-style-type: none;
}
.viewuser:hover {
  border: 1px solid whitesmoke;
  background-color: rgba(0, 0, 0, 0.623);
  color: whitesmoke;
}
.content-header {
  text-align: center;
  font-size: 2.2em;
  font-family: "Kinder";
  font-weight: bold;
}
.gallery-content-wrap {
  display: flex;
  flex-direction: column;
  max-width: 60vw;
  width: 100vw;
  height: 98vh;
  border: 0px solid violet;
  align-self: center;
}
.big-pics {
  display: flex;
  width: 100%;
  height: 40vh;
  border: 0px solid red;
  justify-content: space-between;
}
.small-pics {
  display: flex;
  width: 100%;
  height: 30vh;
  border: 0px solid blue;
  justify-content: space-between;
}
.button-space {
  display: flex;
  width: 100%;
  height: 15vh;
  border: 0px solid black;
}
.button-wrap {
  display: flex;
  flex: 6;
  border: 0px solid black;
  justify-content: space-evenly;
  flex-direction: column;
}
.pic1a {
  width: 49.2%;
  height: 40vh;
  border: 0px solid red;
  background-image: url("../images/coffee1.jpg");
  background-size: cover;
  background-position-y: 43%;
  border-radius: 5%;
}
.pic1b {
  width: 49.2%;
  height: 40vh;
  border: 0px solid red;
  background-image: url("../images/pic2.jpg");
  background-size: cover;
  background-position-x: 20%;
  border-radius: 5%;
}
.pic2a {
  width: 32.4%;
  height: 30vh;
  border: 0px solid blue;
  background-image: url("../images/pic3.jpg");
  background-size: cover;
  background-position-x: 20%;
  border-radius: 5%;
}
.pic2b {
  width: 32.4%;
  height: 30vh;
  border: 0px solid blue;
  background-image: url("../images/pic4.jpg");
  background-size: cover;
  background-position-x: 20%;
  border-radius: 5%;
}
.pic2c {
  width: 32.4%;
  height: 30vh;
  border: 0px solid blue;
  background-image: url("../images/pic5.jpg");
  background-size: cover;
  background-position-x: 35%;
  border-radius: 5%;
}
.button {
  align-self: center;
  text-align: center;
  border: 1px solid black;
  background-image: url("../images/wood.jpg");
  background-size: 50%;
  border-radius: 10px;
  width: 50%;
  height: fit-content;
  padding: 5px;
  font-family: "Kinder";
}
.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover,
.hvr-grow-shadow:focus,
.hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  z-index: 1;
}
.hvr-glow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 1 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
.hvr-glow:hover,
.hvr-glow:focus,
.hvr-glow:active {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}
.button a {
  color: rgb(212, 212, 212);
}
.button a:hover {
  color: rgb(212, 212, 212);
}
.location-content-wrap {
  display: flex;
  justify-content: space-between;
  max-width: 60vw;
  width: 100vw;
  height: 78vh;
  border: 0px solid violet;
  align-self: center;
}
.streetview {
  height: 65vh;
  width: 59%;
  border: 0px solid red;
  align-self: center;
}
.photomap {
  height: 65vh;
  width: 39%;
  border: 0px solid blue;
  align-self: center;
  background-image: url("../images/map.png");
  background-size: cover;
  background-position-x: 60%;
}
.about-content-wrap {
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  max-width: 100vw;
  width: 120vw;
  height: 98vh;
  border: 0px solid violet;
  align-self: center;
  border: 0px solid red;
}
.about-text {
  height: 65vh;
  width: 49%;
  border: 0px solid blue;
  align-self: center;
  font-family: "Simplicity";
  font-size: 1.6rem;
  font-weight: bold;
}
.about-image {
  height: 65vh;
  width: 49%;
  border: 0px solid red;
  align-self: center;
  background-image: url("../images/cups_outside.jpg");
  background-size: cover;
}
.empty-feedback {
  border: 0px solid pink;
  width: 100%;
  height: 10vh;
}
.empty-smallfeedback {
  border: 0px solid pink;
  width: 100%;
  height: 5vh;
}
.feedback-text {
  height: 48vh;
  width: 50vw;
  border: 0px solid blue;
  align-self: center;
  font-family: "Simplicity";
  font-size: 1.6rem;
  font-weight: bold;
}
.feedback-form {
  width: 48vw;
  border: 0px solid purple;
  text-align: center;
}

.feedback-content-wrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 100vw;
  width: 120vw;
  height: 73vh;
  align-self: center;
  border: 2px solid red;
}
textarea {
  font-size: 1rem;
  font-family: Arial;
  resize: none;
  padding: 10px;
}
.contact-content-wrap {
  display: flex;
  justify-content: space-between;
  max-width: 60vw;
  width: 100vw;
  height: 97vh;
  border: px solid red;
  align-self: center;
}
.contact-box1 {
  width: 49%;
  height: 65vh;
  border: 0px solid blue;
  align-self: center;
  border: 0px solid red;
  font-family: "Kinder";
}
.contact-box2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 49%;
  height: 65vh;
  border: 0px solid green;
  align-self: center;
}
.contact-tag {
  width: 100%;
  height: 9vh;
  border: 0px solid blueviolet;
}
.tag-box {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 52vh;
  border: 0px solid black;
}
.tag-box1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 95%;
  height: 28vh;
  border: 0px solid red;
  align-self: center;
}
.tag-box2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 95%;
  height: 22vh;
  border: 0px solid red;
  align-self: center;
}
.tag-box-pic {
  width: 49%;
  height: 28vh;
  border: 0px solid black;
}
.tag-box-qr {
  width: 49%;
  height: 28vh;
  border: 0px solid black;
}
.tag-box-pic1 {
  width: 60%;
  height: 8vh;
  border: 1px solid black;
  align-self: center;
}
.gumshoe {
  font-family: "Kinder";
  font-weight: 2px;
  list-style-type: none;
  text-align: right;
  padding-right: 10px;
  border-right: 3px solid red;
}
.gumshoe li.active {
  color: rgb(155, 114, 68);
  font-weight: bold;
}
.gumshoe li {
  color: rgb(155, 114, 68);
}
.gumshoe a:visited {
  color: rgb(155, 114, 68);
}
.gumshoe li.active a {
  color: red;
}
.gumshoe-wrap {
  border: 0px solid black;
  position: -webkit-sticky;
  position: sticky;
  top: 30px;
}
.login-form {
  background-color: rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.2);
  color: black;
  font-family: "Kinder";
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin: 0 auto;
  border: 0px solid red;
  justify-self: center;
  align-self: center;
  width: 23vw;
  text-align: center;
}
input {
  font-size: 0.9rem;
  height: 2.5em; /* for IE */
  width: 15vw;
  vertical-align: middle; /* This is optional but it makes legacy IEs look better */
}
.submit {
  height: 2.5em; /* for IE */
  width: 5vw;
  vertical-align: middle; /* This is optional but it makes legacy IEs look better */
  background-color: white;
}
body.login {
  height: 100vh;
}
/*input,
textarea {
  font: 0.9em/1.5em "handwriting", sans-serif;

  border: none;
  padding: 0 10px;
  margin: 0;
  width: 240px;

  background: none;
}*/
input:focus,
textarea:focus {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  outline: none;
}
@media screen and (max-width: 768px) {
  html,
  body {
    overflow-x: hidden;
    position: absolute;
    font-size: 12px;
    height: fit-content;
    width: fit-content;
  }
  #header {
    background-size: 190vh;
    background-position-x: 100%;
  }
  #sticky {
    height: 835vh;
    border: 0px solid red;
  }
  .logo {
    height: 35vh;
    background-size: 100%;
    max-width: 75vw;
  }
  #content {
    height: 835vh;
  }
  .tagline {
    max-width: 80vw;
  }
  #wrap {
    height: 865.5vh;
  }
  #gallery {
    height: 240vh;
    border: 0px solid black;
  }
  .gallery-desc {
    font-size: 1.5rem;
    height: 15vh;
  }
  .empty {
    width: 10vw;
  }
  .empty-medium {
    height: 15vh;
  }
  .big-pics {
    flex-direction: column;
    width: 100%;
    height: 80vh;
    border: 0px solid red;
  }
  .pic1a {
    width: 100%;
    height: 40vh;
    border: 0px solid red;
  }
  .pic1b {
    width: 100%;
    height: 40vh;
    border: 0px solid red;
  }
  .small-pics {
    flex-direction: column;
    height: 80vh;
    width: 185.5vw;
  }
  .pic2 {
    width: 100%;
  }
  .empty-small1 {
    width: 100%;
    height: 2vh;
    border: 0px solid black;
  }
  .button-wrap {
    height: 20vh;
  }
  .empty-space {
    display: none;
  }
  #location {
    height: 170vh;
  }
  .location-content-wrap {
    margin-top: 8vh;
    flex-direction: column;
    height: 100vh;
    border: 0px solid black;
  }
  .gallery-desc {
    font-size: 1.3rem;
    width: 70vw;
  }
  .location-desc {
    font-size: 1.3rem;
    width: 70vw;
  }
  .streetview {
    width: 70vw;
    height: 51vh;
  }
  .photomap {
    width: 70vw;
    height: 47vh;
  }
  #about {
    height: 170vh;
  }
  #footer {
    height: 15vh;
    width: 100%;
  }
  .about-content-wrap {
    height: 100vh;
  }
  .about-text {
    width: 70vw;
    height: 51vh;
    font-size: 1.3rem;
  }
  .about-image {
    width: 70vw;
    height: 47vh;
  }
  #contact {
    height: 230vh;
  }
  .contact-content-wrap {
    flex-direction: column;
    height: 175vh;
  }
  .contact-box1 {
    width: 100%;
    height: 65vh;
  }
  .contact-box2 {
    width: 100%;
    height: 107vh;
  }
  .contact-tag {
    height: 8vh;
    font-family: "Simplicity";
  }
  .tag-box {
    height: 96vh;
  }
  .tag-box1 {
    flex-direction: column;
    height: 60vh;
  }
  .tag-box-pic1 {
    width: 100%;
    height: 28.5vh;
  }
  .tag-box-pic2 {
    width: 100%;
    height: 28.5vh;
  }
  .tag-box-qr {
    width: 100%;
    height: 28.5vh;
  }
  .tag-box2 {
    height: 30vh;
  }
}
